.card {
  border: 2px solid rgb(0, 110, 74);
  border-radius: 10px;
  padding: 20px 10px;
  background-color: rgba(127, 255, 212, 0.418);
}

.card:hover {
  background-color: rgba(127, 255, 212, 0.141);
  border: 2px solid rgb(167, 0, 0);
}
