:root {
  --spacing-10: 10px;
  --spacing-20: 20px;
}
body {
  max-width: 1024px;
  margin: 50px auto;
}
.spacing-20 {
  gap: var(--spacing-20);
}

.d-flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-conter {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}
