.postsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media only screen and (max-width: 768px) {
  .postsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .postsList {
    grid-template-columns: repeat(1, 1fr);
  }
}
